*{
    padding: 0;
    margin:0;
    text-decoration: none;
    list-style:none;
    box-sizing: border-box;
    
}
body{
    background:aqua;
}



/*--------header ----*/


header{
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    height: 70px;
    background: #1f41b1;
    z-index: 9999;
  
   
}

/*__________header superior___*/

/*.header-superior{
    width: 100%;
    margin:auto;
    padding:10px;
    background-color: rgb(62, 216, 230);


}*/

.logo{
    width: 30px;
    height: 25px;
    border-radius: 90px;
    margin-top: 10px;

}
h3{
    color:#fff;
    display: inline;
}

/*-------------------------------------------MENU----------------------------------*/



nav {
    position: flex;
    align-items: center;
    justify-content: space-around;
    
    
    
}
.enlaces-menu{
    display: flex;
    padding:0;
    float:right;
    
}
.enlaces-menu li{
    
    display: inline;
    padding:0 20px;
    transition: all 300ms ease;
    
}
.enlaces-menu  li a{
    font-size: 1.4rem;
    font-weight:600;
    text-transform: uppercase;
    color:#fff;
    border-radius: 90px;
    
}
.enlaces-menu li:hover{
    transform: scale(1.1);
    background: #0074c7;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);

}

/*
/*elementos responsivos*/


.ham{
    display: none;
    cursor: pointer;
    border:none;
    margin:0;
    padding: 0;
    top:15px;
    background-color: transparent;
    
}
.ham span{
    display: block;
    background-color: #fefefe;
    height: 3px;
    width: 28px;
    margin:10px auto;
    border-radius: 2px;
}

/*#label-check{
    width: 26px;
    height: 100%;
    display:none;
}
#check-menu{
    display: none;
}*/


/*----------------------------------MEDIDAS GENERALES SECCIONES-------------------*/
.sobremi,.skills, .hobbbies, .capacitacion, .proyectos{
    width: 100%;
    height: auto;
    padding-top: 80px;

}
.formulario{
    width: 50%;
}
h1{
    text-align: center;
    font-size:2em; 
    margin: 30px 0px 30px 0px;
    clear: left;

}


/*-----------------------------------SECCION SOBRE MI-----------------*/

.portada, .descripcion{
  
    padding:20px;
    text-align: center;
    
}

.fotoperfil {    
   
    float: left;
    margin: 0 20px 20px 0;
    border-radius: 30px;
    box-shadow: 10px 10px 40px 15px #000000;
       
}
.descperfil{
    
    text-align: right;
    font-size: 25px;
    line-height: 1.5em;
    margin:20px;
    padding: 30px;
    
}

.redes{
    font-size: 25px;
    margin:20px;
}
.redes i{
    padding-left: 15px;
    color:rgb(18, 113, 236);


}
.redes a :hover{
     
    font-size: 30px;
    color:rgb(236, 178, 16);
    
}
.descripcion{
    padding-top: 80px;
    width: 100%;
}
.descripcion p{
    width: 97%;
    font-size: 26px;
    line-height: 1.5em;
    text-align: justify;

}

#firma{  
    height: 160px;
    margin-bottom: 30px; 
    display: flex;
    
    
}
    



/*__________________skills____________*/

.displayNone{
    display: none;
}
.carrusel-contenedor{
    position: relative;

}
.carrusel-items img{
    
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 20px 10px;
  

}


.carrusel-anterior, .carrusel-siguiente{
    position:absolute;
    display: block;
    width:30px;
    height: 30px;
    border:none;
    top:calc(50% -35px);
    cursor:pointer;
    line-height: 30px;
    text-align:center;
    background: #0074c7;
    color:#EAF2FD;
    opacity:20%;



}



/*
.capacitacion li{
    display: inline-block;
    width: auto;
    text-align: center;    
    padding: 30px 20px;
    border: 2px solid #1f0450;
    border-radius: 10px;
    margin:10px 0px 10px 40px;
    transition:1s all;
    box-sizing: border-box;
    
    
}


.capacitacion img{
   
    width: auto;
    height: 150px;
    text-align: center;
    margin: 20px 10px;
  
}


.capacitacion a{
   
    font-size: 25px;
    display: block;
    padding: 15px;
    border-radius: 40px;
    background: #22e609;
    
}

/*
/*------skills__formacion__*/


.unc a img{
    height: 177px;
}


#certjs, #certhtmlcss, #certgitgithab, #certhabilidades {
    
    width: 100%;
}

#certjs img, #certhtmlcss img, #certgitgithab img, 
#certhabilidades img{
    width: 40%;
    padding: 10px;
    margin: 10px;
    align-content: center;
      
}
#diplomaap img, #diplomarrhh img, #diplomacont img{
    width: 60%;
    height: 200px;
}



/*--------------hobbies------*/


.hobbies li{
    display: inline-block;
    text-align: center;
    width: 250px;
    height: 250px;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;/*vertical horizontal*/
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}
.hobbies li:hover{
    border-color: #22e609;
    font-size: 30px;

}

.hobbies h2{
    font-size: 20px;
    font-weight: bold;

}

.hobbies li:hover h2{
    font-size: 33px;
    
}

.hobbies img{
    width: 30%;
    margin:30px;
}
/*__________formacion______*/
.capacitacion p{
    font-size: 20px;
}
.formacademica{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.formacademica a{
    background-color: #EAF2FD;
}
.formacademica h2{
    font-size: 20px;
}

.dipacad{
    background-color: none;
    align-content: center;
    padding: 0;

}
.diplomas{
    width: 900px;
    margin-left: 240px;
}


/*_______________________proyectos________*/




.proyectos p{
    font-size: 20px;
}


.proyectos img{
    width: 50%;
    box-shadow: 10px 10px 30px 12px #000000;
}


.ahorcado .info{
    
    width: 200px;
    margin:20px;
}

.encriptador{
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 2rem 0;
}

.ahorcado img{
    float:right;
    height: 230px;
}



.info{
    display: flex;
    flex-direction: column;
    margin: auto;
}



.proyectos a{
    text-decoration: none;/*alterar el subrrayado*/
    font-size: 20px;
    font-weight: bold;
    align-items: center;    
    background-color: #22e609;
    display: block;
    margin:10px 0px;
    text-align: center;
    padding:10px;
    border-radius: 30px;
}
#videoencriptador, #juegoahorcado{
    display:none;
    width: 100%;    
    margin:30px 10px 30px 10px;
    padding: 30px;

}

/*____________contacto_____*/

/* afectando las p

form h2, p{
    text-align: center;
    line-height:1.4em;/*interlineado
}
*/

.formulario p em strong{
    color:red;
}

form{
    width: 50%;
    margin:40px 0;
    
}
form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}


.input-patron{
    display:block;
    margin:0 0 20px;
    padding: 10px 25px;
    width: 85%;
}


.imagenContacto{
   display : inline;
   float:right;
   width: 40%;
   height: 200px;
   margin:40px;
   
    
}

.contacto{
    width: 50%;
    padding: 20px 0;
    font-size: 19px;
    color: #555555;
    background: #22e609;
    border:none;
    border-radius: 10px;
    transition:1s all;
    cursor:pointer;
    margin:20px 0;


}

.contacto:hover{
    background: rgb(14, 188, 211);
    transform:scale(1.2);
}
footer{
    
    text-align: center;
    padding: 10px;
    background-color: rgb(47, 230, 230);
    font-size: 20px;
    
}









/*_____________responsivo_____*/

@media screen and (max-width:1048px){ 
     
    .ham{
        display: block;
        position: absolute;
        top:15;
        right: 25px;
    }
    nav{
        flex-direction: column;
        display: flex;
        align-items: flex-start;
        padding:10px 0;
        background: #1f41b1;
        width: 100%;
        

    }
    .enlaces-menu{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 92vh;
        margin:0;
        padding: 0;
        width: 100%;
        display: none;

    }

    .enlaces-menu li{
        width: 100%;
    }
    .enlaces-menu li:hover{
        transform: scale(1);
    }
    .enlaces-menu.desactivado{
        display: none;
    }
   


    .enlaces-menu.activado{
        display: flex;
        
    }
    /*#check-menu:checked ~ nav ul {
        height: 500px;
        visibility: visible;
        opacity: 1;


    }
    #label-check{
        display:block;
    }*/
    .fotoperfil{
        float:none;
    }
    .portada, .descripcion{
        margin:0;
    }
    .descperfil, .descripcion p{
        width: 90%;
        text-align: left;
        padding:20px
    }
    
    

    
 
    /*
    .portada,.sobremi,.descripcion, .formacademica, .proyectos{
        margin-top: 160px;
        padding:0px;
        width: 100%;
       
    }
   
    
    
  
    
    h1{
        width: 30%;
        margin-left: 70px;
        margin-top:0;
    }
    

    .portada p{
        text-align: center;
        width: 100%;
        padding-bottom: 30px;
    }
    .fotoperfil{
        float:none;
        display:block;
        margin:20px 30px;
        
    }
    
    .descripcion p{
        font-size: 22px;
    }

    .capacitacion, .formulario{
        width: auto;
        padding: 0px;
        margin-top: 126px;
        margin-left: 35px;
        
       
    }
    
    .capacitacion li{
        display:block;
        width: 250px;
        
        
    }
    .capacitacion img{
        width: 60%;
        height: 100px;
    }
   
    .certificados{
        width: 90%;
    }
    
    
    .certificados  img{
        display:block;
        width: 150px;
        height: 230px;
    }
    #certjs img, #certhtmlcss img, #certgitgithab img, #certhabilidades img, #diplomaap img, #diplomarrhh img, #diplomacont img{
        width: 80%;
        height: 300px;
      
               
    }
    .hobbies{
        width: 100%;
        margin-left: 10px;
        padding: 126px 40px;

        
    }
    .hobbies ul li{
        display: block;
        margin-bottom: 15px;
        margin-left: 20px;
    } 

    
    .formacademica{
        width: auto;
        padding: 0;

    }
    .formacademica h1{
        margin-left: 50px;
    }
    .formacademica img{
        width: 70%;
    }
    .diplomas{
        width: auto;
        margin-left: 0px;
    }
    .diplomas img{
        width: auto;
    }
    .unc a img{
        height: 170px;
    }

    
    .proyectos{
        width: 90%;
        padding:0px;
    }
    .proyectos h1{
        margin-left: 100px;
    }
    .encriptador img{
        height: 200px;
    }
    .ahorcado img{
        width: 40%;

    }
    .ahorcado .info{
        width: 120px;
        margin:9px;

    }
    form{
        width: 100%;
        margin:0px;
    }
    
    .imagenContacto{
        display:none;
        
    }
    .contacto{
        width: 70%;
    }
    */
    
    
   
    
    
   
}