*{
    padding: 0;
    margin:0;
    text-decoration: none;
    list-style:none;
    box-sizing: border-box;
    
}

main{
    background: radial-gradient(#e9e5e5 40%, rgba(155, 211, 233, 0.933) ,#dde7e7, rgb(96, 238, 248));
    padding: 40px;
}


/*--------header ----*/


header{
    position: fixed;
    height: 70px;
    width: 100%;
    top:0;
    left:0;
    background: #1f41b1;
    z-index: 9999;
  
   
}



/*-------------------------------------------MENU----------------------------------*/



    nav {
        
        align-items: center;
        justify-content: space-between;
        display:flex;
        height: 100%;
        
        
        
    }
    

        .logo{
            
            height: 100%;
            max-height: 100%;
            flex: 0 0 180px;
            margin-top: 10px;
            align-items: center;
            justify-content: center;
            display:flex;
            

        }
            .logo h3{
                color:#fff;
                font-size: 20px;
                
            }
            .logo img {
                height: 70%;
                width: auto;
                border-radius: 90px;
                

            }
        .enlaces-menu{
            height: 100%;
            flex: 1 0 auto;
            padding: 10px;
            display: flex;
            justify-content: flex-end;
                 
            
        }

        .links{
            height: 100%;
            display: flex;
        }
            
                .links  li{
                    margin: 10px 7px;
                    padding: 20px;
                    font-size: 120%;
                    border-radius: 90px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                }

                    
                .links li:hover{
                    
                    background: #54c2e4;
                    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.5);

                }
                    .links li a{
                        color:#fff; 
                    }

        /*
        /*elementos responsivos*/

        #check-menu{
            background: transparent;
            appearance: none;
            border: 0;
        }
        .ham{
            display: none;
            cursor: pointer;
            border:none;
            margin:0;
            padding: 0;
            top:15px;
            background-color: transparent;
            
        }
        .ham span{
            display: block;
            background-color: #fefefe;
            height: 3px;
            width: 28px;
            margin:10px auto;
            border-radius: 2px;
        }



/*----------------------------------MEDIDAS GENERALES SECCIONES-------------------*/
.home,.skills,#certificados,.descripcion, .hobbies, .capacitacion,#diplomas, .proyectos, .formulario{
    width: 100%;
    height: auto;
    padding-top: 120px;
    

}


h1{
    text-align: center;
    font-size:2em; 
    margin: 30px 0px 30px 0px;
    clear: left;

}


/*-----------------------------------SECCION HOME Y SOBRE MI-----------------*/

.home{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.portada{
    display:flex;
    align-items: center;
    justify-content: center;

}
    .fotoperfil {
        height: 100%;
        max-height: 100%;
        flex: 0 0 180px;
        margin-top: 10px;
        align-items: center;
        justify-content: center;
        display: flex;

    }

        .fotoperfil img{
            border-radius: 50px;
            margin: 0 20px 20px 0;
            box-shadow: 10px 10px 40px 15px #000000;


        }
    .descperfil{
        height: 100%;
        width: 70%;
        padding: 10px;
        display: flex;
        justify-content:flex-start;

    }

        .descperfil p{
            font-size: 190%;
            font-weight: 700;
            line-height: 1.5em;
            text-align: justify;
        }
.redes{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:10px 20px;
}
    .redes a{
        padding: 10px 20px;
        font-size: 180%;
        color: rgb(13, 13, 14);

    }
    .redes a:hover{
        background-color: aquamarine;
        color:rgb(118, 212, 130);
        border-radius: 40px;
        
    }



#texto{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 20px;
    font-size: 190%;
    font-weight: 700;
    line-height: 1.5em;
    text-align: justify;
    width: 90%;
}
#firma{
    padding: 10px 20px;
    height: 120px;
}
 #firma img{
     height: 100%;
 }


    



/*__________________skills____________*/



.content-all{
    width: 500px;
    height: 300px;
    position: relative;
    display: flex;
    margin:auto;
    margin-top: 5%;
    overflow: hidden;
    perspective: 800px;
    box-shadow: 0 20PX 60PX 0 #000000;
}
    .content-img{
        width: 100%;
        height: 100%;
        position: absolute;
        top:0px;
        left:0px;
        transform: translateX(-100%) rotateY(360deg);
        transition: all 1s;
        opacity: 0;
    }
    #img1{
        transform:translateX(0);
        opacity: 1;
    }
    .content-img:target{
        transform:translateX(0)  rotateY(0deg);
        opacity: 1;

    }
    .content-img img{
        width: 100%;
        height: 100%;
        background-color: #fefefe;
    }

    .icon-left-open{
        position: absolute;
        top:150px;
        left:0;
        font-size: 40px;
        text-decoration: none;
        color: rgb(14, 158, 38);
    }
    .icon-right-open{
        position: absolute;
        top:150px;
        right:0;
        font-size: 40px;
        text-decoration: none;
        color: rgb(14, 158, 38);
    }
.content-certificados{
    position: relative;
    top:-200px;
    height: 100px;
    margin:auto;
    border-radius: 20px;
    background: rgba(0,0,0,0.4);
    
    margin:20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-certificados a{
    padding: 20px;
    font-size: 18px;
    background: rgba(255,10,0, 0.7);
    border-radius: 90px;
    color: #fefefe;
    transition: all 300ms;
}
.content-certificados a:hover{
    cursor:pointer;
    background: #ec7d52;
    transition: all 300ms;
}


/*___________certificados skills-*/

.displayNone{
    display: none;
}



.contenedor-total{
    display: flex;
    flex-wrap: wrap;

}
    .contenedor-imagen{
        width: 300px;
        margin:auto;
    }

        .contenedor-imagen img{
            width: 100%;
            object-fit: cover;
            vertical-align: top;
            padding:10px;


        }

/*_____________hobbies--------------------*/

.slider{
    width: 40%;
    margin: auto;
    overflow: hidden;
}
    .slider  ul{
        display: flex;
        padding:0;
        width: 600%;
        animation: cambio 20s infinite alternate linear;
        
        
        
    }
        .slider li{
            list-style: none;
            width: 100%;
        
        }
            .slider img{
                width: 100%;
                height: 200px;
            }

@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    20%{margin-left: -100%;}

    45%{margin-left: -200%;}

    50%{margin-left: -300%;}
    70%{margin-left: -400%;}

    75%{margin-left: -500%;}
    100%{margin-left: -600%;}


}

/*---------------------------FORMACION ACADÉMICA-------*/

    .conteiner{
        height: 35vh;
       
       
        position: relative;
        perspective: 1000px;
        transform-style: preserve-3d;
       
        

    }
    .conteiner input[type=radio]{
        display: none;
    }


            .conteiner label{
                position: absolute;
                width: 60%;
                height: 100%;
                border-radius: 4px;
                left:0;
                right:0;
                margin: auto;
                cursor: pointer;
                transition: transform 0.4s ease;

            }


            .conteiner label img{
                width: 100%;
                height: 100%;
                

                
            }

#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3{
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
    transform: translate3d(-30%, 0, -200px);
    opacity: 0.8;
    
}

#s1:checked ~ #slide5,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4{
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(-15%, 0, -100px);
    opacity: 0.6;
}


#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5{
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, .3), 0 11px 7px 0 rgba(0,0,0,.19);
    transform: translate3d(0, 0, 0);
}


#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide1{
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(15%, 0, -100px);
    opacity: 0.6;
}


#s1:checked ~ #slide3,
#s2:checked ~ #slide4,
#s3:checked ~ #slide5,
#s4:checked ~ #slide1,
#s5:checked ~ #slide2{
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
    transform: translate3d(30%, 0, -200px);
    opacity: 0.8;
}

.botonDiplomas{
    display: flex;
    align-content: center;
    justify-content: center;
    padding:20px;
}
    .botonDiplomas a{
        background-color: #ec7d52;
        color: #000000;
        font-size: 30px;
        padding:20px;
        border-radius: 30px;
        font-weight: 600;

    }

    .botonDiplomas a:hover{
        background-color: #f1b037;
        font-size: 35px;

    }

/*---------------PROYECTOS------*/
.compuahorcado{
    display: flex;
    width: 100%;
}
.mediaAhorcado{
    display:none;
}
.contenedor-proyectos{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin:20px;
    margin: 30px;
    
}

    .encriptador, .ahorcado{
        width: 100%;
        display: flex;

    }
        .info, .imagen-proyecto{
            width: 50%;
            padding: 20px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
           
        }

            .imagen-proyecto img{
                width: 80%;
                height: 80%;
                overflow: hidden;
            }
            .info p{
                font-size: 30px;
                font-weight: 500;

            }
                .info a{
                    
                    padding:10px;
                    background-color: #ec7d52;
                    font-size: 20px;
                    font-weight: 700;
                    margin:20px;
                    border-radius: 30px;
                    width: 30%;
                }

                .info a:hover{
                    
                    background-color: #f1b037;
                    font-size: 30px;
                    
                }


/*____________contacto_____*/


.tituloFormulario{
    text-align: center;
    padding: 20px;
    font-size: 20px;
    

}


.formularioCompletar {
    display: flex;
    align-content: center;
    justify-content: center;
    padding:40px;
}


.form{
    width: 70vw;

}

    
.form label{
    display: block;
    font-size: 20px;
    margin: 10px;
    width: 100%;
    text-align: left;
}

.imagenContacto{
    width: 30vw;
    margin:10px;
}
    .imagenContacto img{
        width: 100%;
        height: 200px;
    }


    .input-patron{
        border:transparent;
        display:block;
        margin:0 0 20px;
        padding: 10px 25px;
        width: 90%;
        height: 56px;
    }
    

    .input-patron::placeholder{
        color:#1f41b1;
    }
    .texto-area{
        border:transparent;
        margin:10px 0px;
        height: 96px;
        width: 100%;
    }


    .contacto{
        width: 50%;
        padding: 20px 0;
        font-size: 19px;
        color: #555555;
        background: #22e609;
        border:none;
        border-radius: 10px;
        transition:1s all;
        cursor:pointer;
        margin:20px 0;
    
    
    }
    
    .contacto:hover{
        background: rgb(14, 188, 211);
        transform:scale(1.1);
    }

    .form legend{
        font-size: 20px;
        padding:10px;
        text-align: center;
    }





footer{
    
    text-align: center;
    padding: 10px;
    background-color: rgb(47, 230, 230);
    font-size: 20px;
    
    
}









/*_____________responsivo_____*/
@media screen and (max-width:380px){
    .descperfil{
        width: 100%;
    }
    
    .descperfil p{
        
        font-weight: 300;
    }
    #texto{
        font-weight: 400;
    }
    
    .contenedor-proyectos{
        margin:0;
        padding:0;
    }
}
@media screen and (max-width:600px){
    
    
    .portada{
        flex-direction: column;
    }



    .close{
        top:0px;
        right:0px;
    }

    .content-all{
        width: 300px;
    }
    .slider{
        width: 100%;
    }

    .info a{
        width: 100%;
    }
    .imagenContacto{
        display: none;
    }
    .formularioCompletar{
        padding: 20px;
    }
    .contacto{
        width: 100%;
    }
    
    

}


@media screen and (max-width:961px){ 
    nav{
        flex-direction: column;
    }
        .logo ,.enlaces-menu{
        
            width: 100%;
            margin:0;
        }
        .enlaces-menu{
            height: 100%;
            flex: 0 0 auto;
            display: block;
            padding:0;

        }
        
            .enlaces-menu li{
                width: 100%;
            }
            .enlaces-menu li a{
                width: 100%;
            }

    .descperfil p{
        font-size: 150%;
    }

    #texto{
        font-size: 150%;
        width: 100%;
    }
            
            
        .links{
            display: none;
            padding:20px;
            flex-direction: column;
            background-color: #1f41b1;
            width: 100%;
            height: calc(100vh - 70px);
           
            

        }
            
                .links  li{
                    margin: 5px 7px;
                    padding: 10px;
                    font-size: 140%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    cursor:pointer;

                }

            .links.activado{
                display: block;
                overflow-y:scroll;
                
            }
        .ham{
            display: block;
            position: absolute;
            top:0px;
            right: 25px;
        }

    
        .galeria-contenedor{
            grid-template-columns: repeat(3,1fr);
        }


.slider{
    width: 80%;
}
    
    /*---------------PROYECTOS------*/
    .mediaAhorcado{
        display: block;
    }
    .compuahorcado{
        display: none;
    }

    .encriptador, .ahorcado{
        width: 100%;
        flex-direction: column;
        


    }
        

            .imagen-proyecto, .info{
                width: 80vw;
               
            }
            
            
                


    



}
    
   
    
    
   
